<h1>Welcome To Mad-GIFs</h1>

<form method="GET" action="/story">
	<div class='col-sm-6 col-sm-offset-3'>
		<div class="form-group">
			<input type="text" name="gif" class="form-control" placeholder="Find A GIF...">
		</div>
		<input type="submit" class="btn btn-block btn-primary" value="Search">
	</div>
</form>
