<div class="container text-center">
  <h1 class="title">Mad Libs + GIF's</h1>
  <h3>Spice up classic mad libs with GIF's</h3>
  <div class="user">
    <a href="/auth/signup" class="signup"><button class="signupBtn">Sign Up!</button></a>
    <a href="/auth/login" class="login"><button class="loginBtn">Log In!</button></a>
  </div>
</div>

<%# <form method="GET" action="/story">
	<div class='col-sm-6 col-sm-offset-3'>
		<div class="form-group">
			<input type="text" name="gif" class="form-control" placeholder="Find A GIF...">
		</div>
		<input type="submit" class="btn btn-block btn-primary" value="Search">
	</div>
</form>%>
