<div class="container text-center intro">
  <h1 class="title">Mad Libs + GIF's</h1>
  <h3>Spice up classic mad libs with GIF's</h3>
  <div class="user">
    <a href="/auth/signup" class="signup"><button class="signupBtn">Sign Up!</button></a>
    <a href="/auth/login" class="login"><button class="loginBtn">Log In!</button></a>
  </div>
</div>
