<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MAD GIFs!</title>
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Welcome To Auth Site</h1>
      <div class="row col-xs-offset-4">
             <div class="col-xs-12">
               <a href="/" class="btn btn-danger">Home</a>
               <a href="/auth/login" class="btn btn-primary">Login</a>
               <a href="/auth/signup" class="btn btn-success">Sign Up</a>
               <a href="/auth/logout" class="btn btn-warning">Log Out</a>
             </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">

          <%- body %>

        </div>

      </div>
    </div>
  </body>
</html>
