<div class="container gif-search">
  <h3 class="text-center">Fill in the blanks!</h3>
  <form method="GET" action="/madgif/story">
  	<div class='col-sm-6 col-sm-offset-3'>
  		<div class="form-group">
  			<input type="text" name="tvshow" class="form-control" placeholder="Enter A TV Show">
  		</div>
      <div class="form-group">
  			<input type="text" name="celeb" class="form-control" placeholder="Enter A Celebrity">
  		</div>
      <div class="form-group">
  			<input type="text" name="reaction" class="form-control" placeholder="Enter A Reaction">
  		</div>
      <div class="form-group">
  			<input type="text" name="emotion" class="form-control" placeholder="Enter An Emotion">
  		</div>
  		<input type="submit" class="btn btn-block btn-primary up-btn" value="Generate Mad GIF!">
  	</div>
  </form>
</div>
