<div class="container">
    <h1>Profile Page</h1>
    <hr>
    <p>Username: </p>
    <p>Email: </p>
    <hr>
    <h3>Favorite Mad GIFs</h3>
    <ul>
      <li>Favorite links will go here</li>
      <li>Another favorite link</li>
    </ul>
</div>
