<div class="container">
    <h1 class="text-center"><%= user.username %>'s Profile Page</h1>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-xs-12 col-sm-offset-4">
          <a href="/madgif" class="btn btn-primary up-btn">Create Mad GIF :)</a>
          <a href="/profile/favorites" class="btn btn-success up-btn">View Favorites!</a>
          <a href="/auth/logout" class="btn btn-danger up-btn">Log Out :(</a>
        </div>
      </div>
    </div>
    <h3 class="text-center">Username: <%= user.username %></h3>
    <h3 class="text-center">Email: <%= user.email %></h3>
</div>
