<div class="container">
    <h1>Profile Page</h1>
    <hr>
    <h3 class="text-center"><a href="/madgif">Create Mad GIF</a></h3>
    <p>Username: </p>
    <p>Email: </p>
    <a href="/auth/logout" class="text-danger">Log Out</a>
    <hr>
    <h3>Favorite Mad GIFs</h3>
    <ul>

    </ul>
</div>
