<div class="container text-center">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>On a cold winter evening I sat with:</h1>
      <img src="<%= results[1] %>" class="img-responsive center-block">
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <h1>We of course cuddled to stay warm as we binge watched:</h1>
      <img src="<%= results[0] %>" class="img-responsive center-block">
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Hours felt like minutes and we were full of</h1>
      <img src="<%= results[3] %>" class="img-responsive center-block">
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Night turned into day as we watched the finale and we were:</h1>
      <img src="<%= results[2] %>" class="img-responsive center-block">
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <a href="#" class="btn btn-primary favBtn">Favorite this Mad GIF!</a>
    </div>
</div>
